<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="login()" class="ion-padding">
    <ion-item>
      <ion-label position="floating">E-Mail</ion-label>
      <ion-input
        required
        autofocus
        clear-input
        type="email"
        [(ngModel)]="email"
        name="email"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        required
        clear-input
        type="password"
        [(ngModel)]="password"
        name="password"
      ></ion-input>
    </ion-item>
    <ion-button type="submit" expand="full" [disabled]="!(password && email)">
      Login
    </ion-button>
  </form>
  <ion-card class="ion-padding">
    <span>
      Noch kein Account?<br />
      <a [routerLink]="['/register']">Registriere dich jetzt.</a>
      <br /><br />
      Möchtest du die App auschliesslich offline nutzen?<br />
      <a (click)="useOffline()">Ja, bitte.</a>
    </span>
  </ion-card>
</ion-content>
